<form action="/users/activate" method="post" class="login-form">
    <label for="secret">
        Become an Active Member
    </label>
    <input type="text" name="secret" id='secret' placeholder="Enter Secret Password">
    <input type="submit" value="Enter Password">
</form>
