<form action="/submit/board" method="post" class="login-form">
    <label for="new_board">
        Create a New Board
    </label>
    <input type="text" name="new_board" id='new-board' placeholder="Create New Board">
    <input type="submit" value="Create New Board">
</form>
