<form action="" method="post" class="login-form">
    <label for="new-post">
        Create a New Message
    </label>
    <input type="text" name="new-post" id='new-post' placeholder="Create New Message">
</form>
<script type='text/javascript' src='/javascript/redirect.js' defer></script>