<nav>
    <ul class="nav-list">
        <li>
            <a href="/">Home</a>
        </li>
        <div class="nav-list">
            <li>
                <% if (typeof user === "undefined" || !user) { %>
                    <a href="/login">Log In</a>
                <% } else { %>
                    <a href=<%- `/users/${user.name}` %>>
                        <img class="icon" alt="Users Icon" src=<%= user.iconImg %>>
                    </a>
                <% } %>
            </li>
            <% if (typeof user === "undefined" || !user) { %>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
            <% } %>
        </div>
    </ul>
</nav>