<form action="" method="post" class="login-form">
    <label for="title">Title</label>
    <input type="text" name="title" id="new-title" placeholder="Title" required>
    <label for="message">Message</label>
    <textarea name="message" id="new-message" cols="30" rows="10" placeholder="Message Text" required></textarea>
    <label for="board">Board</label>
    <select name="board" reqired>
        <% for (let board of boards) { %>
            <option value=<%= board.name %>>
                b/<%= board.name %>
            </option>
        <% } %>
    </select>
    <input type="submit" value="POST" class="btn">
</form> 