:root {
    --color-light: #CCDBDC;
    --color-med-light: #9ad1d4;
    --color-med: #80ced7;
    --color-med-dark: #007ea7;
    --color-dark: #003249;
}

body {
    min-height: 100vh;
    width: 100vw;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 12px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

nav {
    width: 100%;
    background-color: var(--color-dark);
    padding: 12px;
}

nav ul {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: var(--color-med-dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

footer img {
    height: 2rem;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid var(--color-med);
    padding: 12px;
    border-radius: 12px;
    width: 100%;
}

.btn {
    padding: 12px 6px;
    color: white;
    background-color: var(--color-med-dark);
    border-radius: 12px;
    border: none;
}

.btn:active {
    background-color: var(--color-dark);
}

input {
    padding: 12px;
    border-radius: 12px;
}